watch_file flake.nix
watch_file flake.lock
watch_file nix-flake/devshells.nix
watch_file nix-flake/process-compose.nix
watch_file nix-flake/process-compose/common/config.nix
watch_file nix-flake/process-compose/common/health-checks.nix
watch_file nix-flake/process-compose/local.nix
watch_file nix-flake/process-compose/mainnet-local.nix
watch_file nix-flake/process-compose/mainnet-remote-torii.nix

use flake
